@model Tuple<List<ResultProductViewModel>,List<ResultCategoryViewModel>>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}
@await Component.InvokeAsync("_UILayoutNavbarComponentPartial")

<section class="food_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Menümüz
            </h2>
        </div>

        <ul class="filters_menu">
            <li class="active" data-filter="*">Hepsi</li>
            @foreach (var item in Model.Item2)
            {
                <li data-filter=".@item.Name.ToLower()">@item.Name</li>

            }
        </ul>

        <div class="filters-content">
            <div class="row grid">
                @foreach (var item in Model.Item1)
                {
                    <div class="col-sm-6 col-lg-4 all @item.CategoryName.ToLower()">
                        <div class="box">
                            <div>
                                <div class="img-box">
                                    <img src="@item.ImageUrl" alt="">
                                </div>
                                <div class="detail-box">
                                    <div class="row justify-content-around">
                                        <h5>
                                            @item.Name
                                        </h5>
                                        <h5 class="bg-dark  font-italic">
                                            @item.Price ₺
                                        </h5>
                                    </div>
                                    <hr class="bg-warning"/>
                                    <p class="text-right">
                                        @item.Description
                                    </p>

                                    <div class="row">
                                        <div class="col-md-10 offset-md-1">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <button class="btn btn-outline-secondary" type="button" id="button-minus">-</button>
                                                </div>
                                                <input type="number" class="form-control text-center bg-light" value="1" min="1" readonly id="input-value-@item.Id">
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-secondary" type="button" id="button-plus">+</button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-10 offset-md-1">
                                            <button href="#" onclick="showproductId(@item.Id)" class="btn btn-warning form-control">
                                                <i class="fa fa-shopping-cart" aria-hidden="true" id="Capa_1"></i> Sepete Ekle
                                            </button>
                                        </div>
                                    </div>
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>

    <div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
        <!-- Toast to show -->
        <div id="toast-container" style="position: absolute; bottom: 0; right: 0; z-index: 999;">
            <div id="success-toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="3000">
                <div class="toast-header">
                    <strong class="mr-auto text-success">Başarı</strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    Sepete başarıyla eklendi.
                </div>
            </div>

            <div id="error-toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="3000">
                <div class="toast-header">
                    <strong class="mr-auto text-danger">Hata</strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    Lütfen sepete ürün eklemeden önce üye girişi yapın.
                </div>
            </div>
        </div>
    </div>
</section>




@section ScriptsUI {

    <script>
        $(document).ready(function () {
            // Body elementine "new-class" adında bir class ekleyelim
            $('body').addClass('sub_page');
        });




        function showproductId(value) {
            var id = value;
            var quantity = document.getElementById('input-value-' + id).value;
            $.ajax({
                type: 'POST',
                data: JSON.stringify({ productId: id, quantity: quantity }),
                url: "/Menu/AddBasket/",
                contentType: 'application/json',
                success: function () {
                    // SweetAlert2 ile sağ altta gösterim
                    Swal.fire({
                        position: 'bottom-end',  // Sağ alt köşe
                        icon: 'success',
                        title: 'Seçilen Ürün ID: ' + id,
                        text: 'Sepete Başarıyla Eklendi',
                        showConfirmButton: false,
                        timer: 3000  //0.75 sn
                    });
                },
                error: function (xhr, status, error) {
                    // SweetAlert2 ile sağ altta hata mesajı
                    Swal.fire({
                        position: 'bottom-end',  // Sağ alt köşe
                        icon: 'error',
                        title: 'Hata',
                        text: 'Lütfen Sepete Ürün Eklemeden Önce Üye Girişi Yapın.',
                        showConfirmButton: false,
                        timer: 3000  // 1.5 saniye sonra otomatik kapanır
                    }).then(() => {
                        window.location.href = "/Account/Login/";
                    });
                }
            });
        }
    </script>


    <script>
        var minusButtons = document.querySelectorAll("#button-minus");
        var plusButtons = document.querySelectorAll("#button-plus");

        minusButtons.forEach(function (button) {
            button.addEventListener("click", function () {
                var input = button.parentElement.nextElementSibling;
                var value = parseInt(input.value);
                if (value > 1) {
                    input.value = value - 1;
                }
            });
        });

        // Her bir artı butonun click event'ini belirleyelim
        plusButtons.forEach(function (button) {
            button.addEventListener("click", function () {
                var input = button.parentElement.previousElementSibling;
                input.value = parseInt(input.value) + 1;
            });
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
}
